# Segmenting and Clustering Neighborhoods in Toronto

Author: Philippe Zahlen

In [33]:
# Loading dependencies
import pandas as pd
import numpy as np

In [34]:
# Copy-paste to Excel from Wikipedia; Save-as csv file; Fileupload to githup
# Loading data to a pandas dataframe
file_name = 'https://raw.githubusercontent.com/pzahlen/Coursera_Capstone/master/List_of_postal_codes_of_Toronto.csv'
df = pd.read_csv(file_name, sep = ';')
df.head()

  Postal Code       Borough                           Neighbourhood
0         M1A  Not assigned                            Not assigned
1         M1B   Scarborough                          Malvern, Rouge
2         M1C   Scarborough  Rouge Hill, Port Union, Highland Creek
3         M1E   Scarborough       Guildwood, Morningside, West Hill
4         M1G   Scarborough                                  Woburn

In [45]:
# Dropping the rows where Borough is not assigned
df1 = df[df.Borough != 'Not assigned']
df1.head()
# No more cleaning necessary as there is no cell which has a burough but a not assigned in the neighbourhood

  Postal Code      Borough                           Neighbourhood
1         M1B  Scarborough                          Malvern, Rouge
2         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
3         M1E  Scarborough       Guildwood, Morningside, West Hill
4         M1G  Scarborough                                  Woburn
5         M1H  Scarborough                               Cedarbrae

In [47]:
df1.shape

(103, 3)